{% extends "auctions/layout.html" %}

{% block body %}


    <div id="titleandwelk">

    <h2>Welcome to BEST BID HOUSE!</h2>
    <h3>The Website where you can make Bids, on objects or set for auction your own!</h3>

    </div>


    <div id="objectscontainer">

      {% for listing in listings %}

          <div id="listingobj" style="overflow:hidden;">

            {% if listing.image %}
            <img id="listingimage" src="{{listing.image.url}}">
            {% else %}
            THIS LISTING HAS NO IMAGE 
            {% endif %}
            <br>
            <div id="listingname">   
             <a href=/{{listing}}>{{listing.Name}}</a>
            </div> 
            <br>
            <div id="listingstartbid">Starting Bid at ${{listing.Starting_Bid}}</div>
            <br>
            <div id="listingdescrpt">Description:{{listing.Description}}</div>
            {% if listing.closed == True %}
            <h2 id="closed" style=" color: red;">CLOSED</h2>
            {% endif %}

          </div>

      {% endfor %} 

    </div>   
  
  

{% endblock %}
