{% extends "auctions/layout.html" %}

{% block title %}

{% endblock %}

{% block body %}
    
    <h2>This is Your Watchlist!</h2>    

    {% for Name in watchlist %}

    <ul>
        <li><a href=/{{Name}}>{{Name}}</a></li>
    </ul>
    
    <form method="post" action="delete/{{Name}}" >
        {% csrf_token %}
      <button type="submit" class="btn btn-primary">Delete from Watchlist</button>
      </form>
    <br>
    <hr>
    {% endfor %}
    {% if l  == 0 %}
      <h3>Your watchlist is empty</h3>
      {% endif %}

{% endblock %}

